body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 48px 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.left {
  flex: 1;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
}

.right {
  flex: 1;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
}

.headshot {
  border-radius: 75px;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.align-self-center {
  align-self: center;
}

.shaded {
  background-color: lightgray;
}

.center-text {
  text-align: center;
}

.circle-icon {
  border-radius: 50%;
  padding: 13px;
}

ol {
  font-size: 24px;
  font-weight: bold;
}

ol li {
  padding-left: 24px;
}

ol li h2 {
  font-size: 24px;
}

ol li p {
  font-size: 16px;
  font-weight: normal;
}

.tiles-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.image-card {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 435px;
  background-color: white;
  border-radius: 16px;
  padding: 4px;
}
  
.image-card .tile-image {
  border-radius: 16px;
  width: 300px;
  height: 435px;
}
  
.image-card .image-card-icon {
  position: absolute;
  bottom: 0;
  right: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border: 4px solid white;
  border-radius: 40px;
  color: gray;
  background-color: gray;
}
  
.image-card .image-card-icon i {
  font-size: 24px;
  color: white;
}
  
.image-card .image-card-label {
  position: absolute;
  left: 4px;
  bottom: 86px;
  background-color: white;
  margin-right: 32px;
  padding: 16px 32px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  opacity: 0.8;
}
  
.image-card .image-card-label .image-card-label-title {
  color: black;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: darkblue;
  color: white;
  text-align: center;
  padding: 12px;
}
