body {
  margin: 0;
}

.container1 {
  display: flex;
}

.left {
  flex: 1;
  margin: 10px;
}

.right {
  flex: 2;
  margin: 10px;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container2 {
  display: flex;
  background-color: lightgray;
}

.container2 div {
  width: 50%;
  padding: 25px 50px;
}

.div1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

li {
  padding-left: 20px;
}

.container3 {
  h2 {
    text-align: center;
  }
}

.3tiles {
  padding: 0 30px;
}

.tile {
  float: left;
  width: 33.33%;
  height: 200px;
  background-color: blue;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: darkblue;
  color: white;
  text-align: center;
}
