h1 {
  font-size: 48px;
}

button {
  border: none;
  border-radius: 25px;
  background-color: darkblue;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}

.circle-icon {
  background-color: blue;
  color: white;
}
